# Python
__pycache__/
*.py[cod]

.pytest_cache/

.ipynb_checkpoints/

*.egg-info/

# Packaging
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Colab
sample_data/
